{% extends 'layout/base.html' %}
{% block title %}Recipe Detail{% endblock %}
{% block content %}
<h2 class="mb-4 text-center">{{ recipe.title }}</h2>

<div class="card shadow mx-auto" style="max-width: 600px;">
  {% if recipe.image %}
  <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
    <p><strong>Steps:</strong> {{ recipe.steps }}</p>
    <p><strong>Cooking Time:</strong> {{ recipe.time }} minutes</p>
    <p><strong>Total Views:</strong>{{recipe.views}}</p>
  </div>

  <div class="card-footer text-center">
    <!-- <a href="{% url 'user_recipes' recipe.shef.id %}" class="btn btn-secondary">
      ← Back 
</a> -->
<div class="card-footer text-center">
  {% if next_url %}
    <a href="{{ next_url }}" class="btn btn-secondary">
      ← Back
    </a>
  {% else %}
    <a href="{% url 'user_recipes' recipe.shef.id %}" class="btn btn-secondary">
      ← Back
    </a>
  {% endif %}
  </div>
  </div>
</div>
{% endblock %}